//
   Created with JetBrains WebStorm.
   User: lolocoo
   Date: 13-5-8
   Time: PM11:10
   To change this template use File | Settings | File Templates.

extends layout

block content
    a.btn.btn-primary(href="/product/upload/") upload product
    - each p in products
        p
          a(href="product/?q=#{p._id}") #{p.name}
        p= p.star
        a(href="#{p.taobao_url}")
            img(src="#{p.img_url}")
        a.btn(href="/product/delete/#{p._id}") DEL
        a.btn(href="/product/edit/#{p._id}") Edit