extends layout

block content

	h3 欧美明星
	ul.top-list
		each star in results.western
			li
				.photo
					img(src="#{star.img}", width="150")
				a(href="/stars/#{star.name}")
					span.name #{star.name}

	h3 娱乐男明星
	ul.top-list
		each star in results.e_males
			li
				.photo
					img(src="#{star.img}", width="150")
				a(href="/stars/#{star.name}")
					span.name #{star.name}

	h3 娱乐女明星
	ul.top-list
		each star in results.e_females
			li
				.photo
					img(src="#{star.img}", width="150")
				a(href="/stars/#{star.name}")
					span.name #{star.name}

	h3 男歌手
	ul.top-list
		each star in results.s_males
			li
				.photo
					img(src="#{star.img}", width="150")
				a(href="/stars/#{star.name}")
					span.name #{star.name}

	h3 女歌手
	ul.top-list
		each star in results.s_females
			li
				.photo
					img(src="#{star.img}", width="150")
				a(href="/stars/#{star.name}")
					span.name #{star.name}

	h3 模特
	ul.top-list
		each star in results.models
			li
				.photo
					img(src="#{star.img}", width="150")
				a(href="/stars/#{star.name}")
					span.name #{star.name}

